<style type="text/css">
.registers-wrapper {
	/*min-height: 500px;*/
  /*max-height: 500px;*/
  height: 100%;
  overflow: scroll;
	background: #f5f5f5;
	border-left: .35em solid #e7e7e7;
}

.assembly-wrapper {
  /*min-height: 500px;*/
  height: 100%;
  overflow: scroll;
  background: #fafafa;
  border-left: .35em solid #e7e7e7;
}

.code-wrapper {
  /*min-height: 500px;*/
  height: 100%;
  /*margin-left: -1em;*/
}

.main {
  height: calc(100% - 54px);
	margin-top: -1.5em;
}

.main div.row { height: 100%; }

.main div.col-* {
	padding: 1em;
}

.simulator {
  border-top: .35em solid #e7e7e7;
  min-height: 500px;
}

.top-button {
  margin-top: -2.5em;
}

.top-button:hover {
  margin-top: -2.5em;
}

html, body {
  height: 100%;
  min-height: 100%;
}
.ember-view {
  height: 100%;
}
</style>
<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Nagiza ISA</a>
  </div>
  <div style='margin-bottom: -1.5em; margin-top: .6em' class="navbar-collapse collapse navbar-responsive-collapse pull-right">
    <ul class='list-inline'>
      <li><a class='btn btn-danger' href="#" {{action 'assemble'}}>Assemble</a></li>
    </ul>
  </div>
  <div style='margin-bottom: -1.5em; margin-top: .6em' class="navbar-collapse collapse navbar-responsive-collapse">
  	<ul class='list-inline'>
      <li><a class='btn btn-default top-button' href="#" {{action 'newCode'}}>New</a></li>
      <li><a class='btn btn-primary top-button' href="#" {{action 'simulate'}}>Simulate</a></li>
      <li>
        {{input type="text" class="form-control col-lg-8" placeholder="Clock Rate (Hz)" value=clk}}
      </li>
      {{#if running}}
      <li><a class='btn btn-danger top-button' href="#" {{action 'breakRunning'}}>Break</a></li>
      {{/if}}
    </ul>
  </div>
</div>
<div class='container-fluid main'>
	<div class='row'>
		<div id='editor' class='col-xs-3 code-wrapper'></div>
    <div id='editor-true' class='col-xs-3 code-wrapper'></div>
    <div class='col-xs-2 assembly-wrapper'>
      <h4>Assembly</h4>
      {{#each assembly}}
        {{this}},<br/>
      {{/each}}
    </div>
    <div class='col-xs-2 registers-wrapper'>
      <h4>Memory</h4>
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>#</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          {{#each memory_array}}
          <tr>
            <td>{{id}}</td>
            <td>{{value}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
		<div class='col-xs-2 registers-wrapper'>
			<h4>Registers</h4>
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>#</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          {{#each registers}}
          <tr>
            <td>{{id}}</td>
            <td>{{value}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
		</div>
	</div>
</div>