<!DOCTYPE html>
<html>
<head>
  <title>Nagiza</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application" %>


	<%= stylesheet_link_tag    "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", media: "all" %>
	<%= javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
